ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
  margin: 0;
}

ion-item h3 {
  font-weight: 1000;
  font-size: 20px;
}

ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item .suggestbutton {
  background-color: orangered;
  color: white;
  height: 25px;
  width: 100px;
}












